


.skeleton {
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #756f66;
	width: auto;
	height: 20px;
	animation: 2s ease-in-out infinite alternate loading;
}

@keyframes loading {
	from {
		background: rgb(171, 166, 161);
		background: #e0e0e0;
	}
	to {
		background: rgb(231, 222, 213);
		background: #c4c4c4;
	}
}

.aurora {
	background-color: #fff;
	background-image: 
		radial-gradient(at top left, #f6e6cb, transparent),
		radial-gradient(at top right, #faf3f3, transparent),
		radial-gradient(at bottom left, #A7D3F2, transparent);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}